*{
    margin: 0;
    padding: 0;
}

.container{
    background:linear-gradient(120deg, rgb(208, 168, 168), rgb(209, 186, 153));
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.app-wrapper{
    background-color: rgb(226, 217, 180);
    min-width: 350px;
    min-height: 650px;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 5px;
}